/* Colors */
$pokemonRed: #ED1E24;
$pokemonRed15: rgba(237, 30, 36, 0.15);
$pokemonRed30: rgba(237, 30, 36, 0.3);
$pokemonRed80: rgba(237, 30, 36, 0.8);
$pokemonBlue: #3476CC;
$pokemonYellow: #F5CC04;
$pokemonGreen: #43CC34;

/* Times */
$timeShort: .2s;

/* Screen breakpoints */
$breakpointMd: 768px;

/* Dimensions */
$xxSmall: 2px;
$xSmall: 3px;
$small: 4px;
$medium: 8px;
$large: 12px;
$xLarge: 16px;
$xxLarge: 32px;
