@import '../../styles/bundle';

.search-input-button {
  background-color: transparent;
  border: none;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: calc(.5vw + .5rem);
  transition: background-color $timeShort;
  cursor: pointer;
  &:hover {
    background-color: $pokemonRed15;
  }
  &:active {
    background-color: $pokemonRed30;
  }
  img {
    width: 1.25rem;
    height: 1.25rem;
  }
}
