.pokemon-type-badge {
  background-color: white;
  border-radius: 9999px;
  padding: calc(.25vw + .5rem) calc(.25vw + .75rem);
  color: black;
  font-size: calc(.25vw + 1rem);
  /* TODO Create styles for all types */
}
