@import '../../../styles/bundle';

.page-list {
  padding: calc(1vw + 1rem);
  display: grid;
  grid-gap: calc(1vw + 1rem);
  grid-auto-flow: row;
  justify-content: stretch;
  .page-status-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    justify-items: start;
    align-items: center;
    grid-gap: calc(.5vw + .5rem);
    @media screen and (max-width: $breakpointMd) {
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fit, 100%);
      & > *:not(:first-child) {
        justify-self: center;
      }
    }
    .loading-pokemons {
      font-size: calc(.5vw + .75rem);
    }
  }
  .pokemons-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(8vw + 16rem));
    justify-content: center;
    grid-gap: calc(16px);
    list-style: none;
    li {
      border: calc(.075vw + .1rem) solid black;
      background-color: white;
      border-radius: $xxSmall;
      overflow: hidden;
      position: relative;
      &:hover {
        .pokemon-image {
          transform: scale(1.1);
        }
      }
      .pokemon-image {
        width: calc(8vw + 20rem);
        height: calc(8vw + 20rem);
        transition: transform $timeShort;
        display: flex;
        margin-left: -2rem; // ((8vw + 20rem) - (8vw + 16rem)) / 2
      }
      .pokemon-data {
        position: absolute;
        left: 0;
        bottom: 24px;
        border: $xSmall solid black;
        border-left: none;
        background-color: $pokemonRed80;
        padding: calc(.5vw + .5rem);
        .pokemon-name {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          justify-content: start;
          grid-gap: 8px;
          p {
            font-family: Staatliches, sans-serif;
            font-size: calc(1vw + 1.5rem);
          }
          span {
            font-family: Consolas, Roboto, sans-serif;
            font-size: calc(.5vw + .5rem);
            opacity: .75;
          }
        }
        .pokemon-types {
          display: grid;
          grid-gap: 8px;
          grid-auto-flow: column;
          justify-content: start;
        }
      }
    }
  }
}
